<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Maybe-Crazy Things to do with Inline SVG in Drupal 8</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/custom.css">
		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
		<script
		src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-background-image="lib/img/front-01.svg">
					<h1 class="splash"><div class="before">
						<div class="scroll-left">
						</div>
					</div>
					<span class="white animated block">Maybe-crazy</span>
					<div class="after">
						<div class="scroll-right">
						</div>
					</div> <span class="white block">things to do with</span> inline SVG <img src="lib/img/in.svg" alt="" class="title-word"> <span class="light">Drupal 8</span></h1>
				</section>
				<section data-background-position="20%" data-background-image="lib/img/teal-dot-stripe-01.svg" data-background-size="contain">
					<div class="row">
						<div class="col col-25">
							<img src="lib/img/audrey.png" alt="">
						</div>
						<div class="col col-75">
							<h1 class="white lh1 m0">Audrey <span class="white light name">Brockhaus</span></h1>
							<img src="lib/img/squiggle.svg" alt="" class="block-margin">
							<table class="no-border">
								<tr>
									<td><img src="lib/img/meltmedia.svg" alt="" class="icon" width="50" height="50"></td>
									<td><h6>FE Developer at meltmedia</h6></td>
								</tr>
								<tr>
									<td><img src="lib/img/heart.svg" alt="" class="icon"></td>
									<td><h6>CSS, SVG, and doing questionable things in Twig templates</h6></td>
								</tr>
							</table>
						</div>
					</div>
					<aside class="notes">
						<ul>
							<li>FE Dev at meltmedia</li>
							<li>Interests in HTML, CSS, presentaional JavaScript. Making designs into code.</li>
							<li>In drupal terms, a themer</li>
							<li>drupal 8 great for someone like me</li>
						</ul>
					</aside>
				</section>
				<section data-background-image="lib/img/squiggle-bg-01.svg" data-background-size="contain">
					<img src="lib/img/me3.jpg" alt="">
					<aside class="notes">
						<ul>
							<li>Drupal 8 allows me to play with rich, dynamic data in a really low-code way in TWIG templates</li>
							<li>One area I love to experiment with in twig templates is SVG</li>
						</ul>
					</aside>
				</section>
				<section>
					<h4>Differences between SVG and other web&nbsp;image&nbsp;formats</h4>
					<table class="white-table">
						<tr>
							<th width="50%">jpeg, png, gif</th>
							<th>SVG</th>
						</tr>
						<tr>
							<td>
								Raster (resolution dependent)
							</td>
							<td>
								Vector (resolution independent)								
							</td>
						</tr>
						<tr>
							<td>								
								Binary
							</td>
							<td>
								Test-based, XML markup, <strong>human readable-<em>ish</em> and human writable-<em>ish</em></strong>
							</td>
						</tr>
						<tr>
							<td>
								Elements within the image not selectable in browser
							</td>
							<td>
								Selectable in browser (drawn by browser, can be changed in browser!)
							</td>
						</tr>
					</table>
					<aside class="notes">
						<ul>
							<li>Most developers know that SVG is the vector image format for the web</li>
							<li>There are other important differences between SVG and raster images that give us opportunities to do cool stuff in the browser and in Drupal Themes.</li>
						</ul>
					</aside>
				</section>
				<section>
					<img src="lib/img/caniuse.png" alt="">
					<aside class="notes">
						A quick note: SVG was bown in 1998, so it may be older than some folks in this room. It did take a long time for browsers to fully support SVG, and I often encounter doubts about browser support for SVG, but as you can see here in this recent screenshot from caniuse, unless you need to support IE 8 and 9 you are good to go. In my anecdotal experience I have had infinitely more cross-browser problems with flexbox than I ever have with SVG.
					</aside>
				</section>
				<section data-background-image="lib/img/circle-bg-01.svg">
					<div class="after-block">
						<div class="scroll-right">
						</div>
					</div>
					<h2 class="squiggle-h2">SVG can do some wild stuff.</h2>
					<div class="after-block">
						<div class="scroll-right">
						</div>
					</div>
					<aside class="notes">
						<ul>
							<li>If you’re a frontend developer you may have seen some crazy examples on Twitter or CodePen of things you can do with SVG.</li>
							<li>I'm going to show you a couple of examples that specifically take advantage of the fact that SVG can respond to user events in the browser.</li>
						</ul>
					</aside>
				</section>
				<section data-background-image="lib/img/squiggle-bg-01.svg" data-background-size="contain">
					<h4>(Happy ↔ Sad) by Chris Gannon</h4>
					<img src="lib/img/toggle-good.gif" alt="">
					<aside class="notes">
						<ul>
							<li>This SVG is animated with javascript and responds to user clicks.</li>
						</ul>
					</aside>
				</section>
				<section>
					<h4>SVG interactive web by Blaz Kemperle</h4>
					<img src="lib/img/web.gif" alt="">
					<aside class="notes">
						<ul>
							<li>This example uses javascript to add dots and lines to an SVG in the html. </li>
							<li>Then those dots and lines respond to the user's mouse</li>
							<li>Two examples have in common that the SVG is INLINE in the html. I will explain what that means.</li>
						</ul>
					</aside>
				</section>
				<section>
						<h1><span class="white light">Using SVG:</span> <span class="black">Easy Mode</span></h1><img src="lib/img/squiggle.svg" alt="" class="block centered">
						<pre>
							<code datatrim>
&lt;img src=&quot;picture.svg&quot;&gt;
							</code>
						</pre>
					<aside class="notes">
						<ul>
							<li>This is NOT inline. This is the simplest way to use SVG on your site: include it an image tag, just as you would with a raster image</li>
							<li>This gives you the basic benefits of SVG--it's vector so it looks sharp on every screen at any size, and it tends to have a smaller filesize than raster graphics.</li>
						</ul>
					</aside>	
				</section>
				<section>
						<h1><span class="white light">Using SVG:</span> <span class="black">Fun Mode </span></h1><img src="lib/img/squiggle.svg" alt="" class="block centered">
						<pre>
						<code datatrim>
&lt;ul&gt;&#10; &lt;li&gt;&#10;  &lt;a href=&quot;/home&quot;&gt;&#10;   &lt;svg viewBox=&quot;0 0 200 200&quot; width=&quot;400&quot;  height=&quot;400&quot;&#10;   xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;&#10;    &lt;circle cx=&quot;102&quot; cy=&quot;100&quot; fill=&quot;#ff0&quot; r=&quot;78&quot;&#10;    stroke=&quot;#000&quot; stroke-width=&quot;3&quot;/&gt;&#10;...etc.
						</code>
						</pre>
					<aside class="notes">
						<ul>
							<li>BUT, when you inline the svg, that is, when you put the svg code directly into your html</li>
							<li>browser gives you access to the SVG’s DOM.</li>
							<li>Style and animate with CSS and Javascript</li>
							<li>respond to user events like hover and click</li>
							<li>super-useful if you want to use SVG as elements in UI</li>
						</ul>
					</aside>	
				</section>
				<section data-background-image="lib/img/squiggle-bg-01.svg" data-background-size="contain">
					<img src="lib/img/code.png" alt="">
					<aside class="notes">
						<ul>
							<li>Naturally I wanted to do cool things like that in my drupal themes.</li>
							<li>Thus was born the ugliest twig templates in the world</li>
							<li>Real template--I wasn't trying to do anything fancy, just animate some icons using some css transitions.</li>
							<li>but my templates quickly became bloated with svg markup.</li>
							<li>other developers don't want to look at it.</li>
						</ul>
					</aside>
				</section>
				<section>
					<h1 class="light">Twig Includes</h1>
					<section>
						<pre>
							<code datatrim>
{% include (&OpenCurlyQuote;path/to/file/picture.svg&rsquor;) %}
							</code>
						</pre>
						<p>&#8593; points to docroot</p>
						<aside class="notes">
								<ul>
									<li>So my first tip for using inline SVG in drupal 8 is to take advantage of TWIG's include function.</li>
									<li>Include will print the SVG inline in the rendered HTML, but you won't have to look at it while theming.</li>
									<li>By default points to docroot</li>
									<li>which is almost certainly not where you want to store your SVG files</li>
								</ul>		
						</aside>
					</section>
					<section>	
						<pre>
							<code datatrim>
{% include (&OpenCurlyQuote;@theme_name/picture.svg&rsquor;) %} 
							</code>
						</pre>
						<p>&#8593; points to theme’s templates folder</p>
						<aside class="notes">
							<ul>
								<li>Use the theme namespace to point to theme's templates folder</li>
							</ul>
						</aside>
					</section>
					<section>	
						<pre>
							<code datatrim>
{% include (&OpenCurlyQuote;@theme_name/../images/picture.svg&rsquor;) %}
							</code>
						</pre>
						<p>&#8593; points to theme’s images folder</p>
						<aside class="notes">
							<ul>
									<li>Hop up a step to point to theme's images folder.</li>
									<li>Later on I’ll discuss using twig within the svg markup, so I’ll just mention now that files included this way will be rendered, so you can include twig functions and statements in your SVG and still use the include to pull them into your template.</li>
							</ul>
						</aside>
					</section>
				</section>
				<section data-background-image="lib/img/squiggle-bg-01.svg" data-background-size="contain">
					<img src="lib/img/code2.png" alt="">
					<aside class="notes">
						<p>This is the same template I showed you before, using include. Much easier to look at.</p>
					</aside>
				</section>
				<section data-background-image="lib/img/circle-bg-01.svg">
					<h2 class="squiggle-h2">Anatomy of an SVG</h2>
					<aside class="notes">
						<ul>
							<li>Now that I've shown you how not to have to look at SVG markup...let's look at some SVG markup.</li>
							<li>And while we are in here keep an eye out for opportunities to customize with values from the database</li>
						</ul>
					</aside>
				</section>
				<section data-background-image="lib/img/squiggle-bg-01.svg" data-background-size="contain">
					<img src="lib/img/png.png" alt="">
					<aside class="notes">
						<ul>
							<li>This is a PNG.</li>
							<li>Gives you a clear message that you should not try to edit this by hand.</li>
						</ul>
					</aside>
				</section>
				<section data-background-image="lib/img/squiggle-bg-01.svg" data-background-size="contain">
					<img src="lib/img/smile.png" alt="">
						<aside class="notes">
							<ul>
								<li>What you see when you open SVG in code editor is much friendlier.</li>
								<li>On the left is code, on the right is the SVG drawn by the browser.</li>
								<li>Going to walk through the code a bit.</li>
								<li>SVG Root element with viewbox attribute.</li>
								<li>The viewBox is an attribute of svg that determines the coordinate system and aspect ratio of the SVG. Viewbox defines the canvas that elements within the SVG are drawn on. The four values you see there are min x, min y, width or max X, and height or max y. Coordinates within the SVG are relative to the viewbox. This is totally independent of the width and height of the SVG on the page.</li>
								<li>Next up we start in on the paths and shapes that make up our smiley face image. To make an analogy to html, these elements are “absolutely positioned” within the SVG’s viewbox.</li>
								<li>like absolutely positioned elements in HTML, Items that are defined at the top of the file, like the yellow circle, appear behind elements that are defined below them, like the eyes and mouth. (MOVE ONE AND DEMONSTRATE)</li>
								<li>FIRST element is the yellow circle. it has x and y coordinates and a radius. (ADJUST ONE)</li>
								<li>The G tag is for grouping elements inside of it so you can manipulate and style them all at once. I point it out because you’ll notice that tags within the SVG can have classes and IDs just like HTML elements do.</li>
								<li>Path: The path is the mouth in this example. The part beginning with D is the path definition. In theory you can decipher this and edit this by hand but I usually leave that part up to Sketch or Illustrator, or a javascript animation library.</li>
								<li>SVG conveniently uses HTML/CSS syntax for styling, but the properties, like Fill and Stroke, are unique to SVG.</li>
							</ul>
						</aside>
				</section>
				<section data-background-image="lib/img/circle-bg-01.svg">
					<h2 class="squiggle-h2">Animate your inline SVG with CSS</h2>
					<aside class="notes">
						<ul>
							<li>I'm going to show you an example of using CSS to style an inline SVG</li>
							<li>So, I’m going to open up my practice site. It is a cat rescue site with an adoption interest form that is paginated. As the user progresses through the form, there is a class applied to the parent container.</li>
							<li>Here I am leveraging those classes to create a simple progress bar that is animated with CSS transitions.</li>
							<li>Notice I did nothing special to the SVG--I just needed to include it inline so </li>
						</ul>
					</aside>
				</section>
				<section>
					<h1>“Propertunities” &amp; “Attribilities”</h1>
					<p class="small"><em>I’m so sorry</em></p>
					<aside class="notes">
						<ul>
							<li>
									So, I mentioned earlier that you can use twig within the body of the SVG itself. There are some parts of an SVG that can very easily be set with field values from the database.
							</li>
						</ul>
					</aside>
				</section>
				<section>
					<h4>Common SVG Presentation Attributes for Shapes</h4>
					<table class="white-table">
						<tr>
							<th width="25%">Properties</th>
							<th>Values</th>
							<th>Examples</th>
						</tr>
						<tr>
							<td>
								<p><strong>fill</strong></p>
								<p>Default: black</p>
							</td>
							<td>
								<p><strong>Color:</strong> defined as hex code, rgb, or even as a color keyword like `green`</p>
								<p><strong>Pattern or Gradient:</strong> Defined in the “defs” region of your SVG</p>									
							</td>
							<td>
								<p>fill=”none”</p>
								<p>fill=”#eeeeee”</p>
								<p>fill=”rgb(0,0,255)”</p>
								<p>fill=”peachPuff”</p>
								<p>fill=”url(#rainbow)”</p>									
							</td>
						</tr>
						<tr>
						<td>								
								<p><strong>opacity</strong></p>
								<p>Default: 1</p></td>
							<td>
								<p>Decimal value between 0 and 1.</p>
								<p>Can also separately set “fill-opacity” and “stroke-opacity”</p>
							</td>
							<td>
								opacity="0.6"
							</td>
						</tr>
						<tr>
							<td>
								<p><strong>stroke</strong></p>
								<p>Default: none</p>
							</td>
							<td>
								<p>Color, Pattern, or Gradient, same as Fill values above</p>
							</td>
							<td>
								<p>stroke=”green”</p>
								<p>stroke=”url(#rainbow)”</p>
							</td>
						</tr>
						<tr>
							<td>
								<p><strong>stroke-width</strong></p>
								<p>Default: 1</p>
							</td>
							<td>
								<p>A number, in viewport units or a % of viewport</p>
							</td>
							<td>
								<p>stroke-width=”5”</p>
								<p>stroke-width=”20%”</p>									
							</td>
						</tr>
					</table>
					<aside class="notes">
						<ul>
							<li>As we saw in the smiley face example, paths in SVG have properties and attributes that are the same or similar to CSS properties.</li>
							<li>These are really low-hanging fruit for setting with field data in twig.</li>
							<li>With the colorfield module you can set fill and stroke</li>
							<li>Opacity and stroke-width take simple number values.</li>
							<li>Let's look at an example of where I set some simple values on a client site.</li>
						</ul>
					</aside>
				</section>
				<section>
					<h4>Super-average icons</h4>
					<img src="lib/img/teal-icons.png" alt="">
					<h4>....not so easy to implement</h4>
					<p><em class="small">(icons changed to protect the guilty)</em></p>
					<aside class="notes">
						<ul>
							<li>I worked on a client site that had different product lines that each had their own color. Headings and icons would be color-coded according to the product line in question. So you can see this guy is teal.</li>
							<li>Of course, you can imagine that the design only actually included one color of icon.</li>
							<li>So my question was: how do we implement this?</li>
							<li>Unfortunately, because the icons in the design were custom and were not 1-color, an icon font was not an option.</li>
						</ul>
					</aside>
				</section>
				<section>
					<h2><span class="light">Super-average icons:</span> Potential structure</h2>
					<table class="white-table table-big">
						<tr>
							<td><strong>Taxonomy term:</strong></td>
							<td colspan="2">Product category (Example: Camping)</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td></td>
							<td><strong>Example values</strong></td>
						</tr>
						<tr>
							<td><strong>Taxonomy fields:</strong></td>
							<td>
									<p>Product category color</p>
									<p><em>(using Color Field module)</em></p>
									<p>Trash icon</p>
									<p>Download icon</p>
									<p>Picture icon</p>
									<p>Share icon</p>
									<p>Idea icon</p>
							</td>
							<td>
									<p>#008000</p>
									<p>&nbsp;</p>
									<p>trash-green.png</p>
									<p>download-green.png</p>
									<p>picture-green.png</p>
									<p>share-green.png</p>
									<p>idea-green.png</p>
							</td>
						</tr>
					</table>
					<aside class="notes">
						<ul>
							<li>Our goal was to make it easy for the client to add new product lines through the UI.</li>
							<li>We might have gone with a structure like this, where each icon needed to be re-uploaded in the new color every time a new product line was added.</li>
							<li>BUT, grunt work like this puts alot of psychological wear-and-tear on designers, content editors, or god forbid the DEVELOPERS that need to re-save the icons out.</li>
						</ul>
					</aside>
				</section>
				<section>
					<h4>Using variables in SVG</h4>
					<pre>
						<code datatrim>
&lt;path fill=&quot;{{ node.field_product_line_color|field_value }}&quot; 
d=&quot;M256,512C114.842,512,0,397.158,0,256c0-62.431,22.727-
122.565,63.994-169.326c5.504-6.237,15....12z&quot;/&gt;					
						</code>
					</pre>
					<p class="small">Example code using Color Field Module and Field Value module</p>
					<aside class="notes">
							<ul>
								<li>Instead, I included the SVG icons inline in the templates that required them, and simply passed the color as a variable into the SVG.</li>
								<li>You can see the twig here setting the fill value on a path.</li>
								<li>The dark and light variations of the primary color were taken care of with SVG filters, which I will dive into in a few minutes.</li>
							</ul>
						</aside> 
				</section>
				<section>
					<h2>Color-flexible icons</h2>
					<img src="lib/img/icons.gif" alt="">
					<aside class="notes">
						<ul>
							<li>So the same icons can appear whatever color is needed.</li>
						</ul>
					</aside>
				</section>
				<section>
					<h2><span class="light">Super-average Icons:</span> Structure with inline&nbsp;SVG</h2>
					<table class="white-table table-big">
						<tr>
							<td><strong>Taxonomy term:</strong></td>
							<td colspan="2">Product category (Example: Camping)</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td></td>
							<td><strong>Example values</strong></td>
						</tr>
						<tr>
							<td><strong>Taxonomy fields:</strong></td>
							<td>
									<p>Product category color</p>
									<p><em>(using Color Field module)</em></p>
									<p><del>Trash icon</del></p>
									<p><del>Download icon</del></p>
									<p><del>Picture icon</del></p>
									<p><del>Share icon</del></p>
									<p><del>Idea icon</del></p>
							</td>
							<td>
									<p>#008000</p>
									<p>&nbsp;</p>
									<p><del>trash-green.png</del></p>
									<p><del>download-green.png</del></p>
									<p><del>picture-green.png</del></p>
									<p><del>share-green.png</del></p>
									<p><del>idea-green.png</del></p>
							</td>
						</tr>
					</table>
					<aside class="notes">
						<ul>
							<li>And you can see with this method the field structure is drastically simplified.</li>
							<li>In doing this we ended up with a much more streamlined experience for content editors, and guaranteed a consistent result between product lines.</li>
						</ul>
					</aside>
				</section>
				<section data-background-image="lib/img/circle-bg-01.svg">
					<h2 class="squiggle-h2">Custom Avatars</h2>
					<aside class="notes">
						<ul>
							<li>Now I’m going to move over to drupal to show you a more interesting example on the cat rescue site!</li>
						</ul>
					</aside>
				</section>
				<section id="filter">
					<h1><span class="white light">SVG</span> <span class="black">Filters</span></h1>
					<img src="lib/img/daisy.jpg" alt="" width="850">
					<aside class="notes">
						<ul>
							<li>You can achieve many photoshop-like effects with SVG filters</li>
							<li>some shown here include a duotone effect and a sepia effect</li>
							<li>The key being, with SVG, that the filters are applied to dynamic content—your users can upload a normal profile picture, you can apply effects to it, and then down the road when you decide maybe that your sepia-tone thing is played out, you can remove that filter in your theme without worrying about images with hardcoded effects on them in the database.</li>
						</ul>
					</aside>
				</section>
				<section>
					<h1><span class="white light">SVG</span> <span class="black">Filters</span></h1>
					<section>
					<pre>
						<code datatrim>
&lt;filter id=&quot;lightenAndSaturate&quot;&gt;&#10; &lt;feColorMatrix type=&quot;matrix&quot; result=&quot;lightened&quot;&#10;  values=&quot; 2   0   0   0   0&#10;           0   2   0   0   0&#10;           0   0   2   0   0&#10;           0   0   0   2   0 &quot;/&gt;&#10; &lt;feColorMatrix type=&quot;saturate&quot; result=&quot;saturated&quot; values=&quot;1.3&quot; /&gt;&#10;&lt;/filter&gt;
</code>
					</pre>
					<aside class="notes">
							<ul>
								<li>Here is the code. The filter SVG element is a container for Filter Effects--the FE here stands for filter effect. The filter tag has an ID on it which you use to refer to the filter, either elsewhere in your SVG or in your CSS.</li>
								<li>
									You do not need to memorize the syntax of the filter effects--I certainly haven't, I look at the mozilla documentation every time. This one is lightening and then saturating.
								</li>
							</ul>
						</aside>
					</section>
					<section>
						<pre>
							<code datatrim>
filter: url(#lightenAndSaturate);
							</code>
						</pre>
						<aside class="notes">
							<ul>
									<li>This is how you would apply the filter to an element from your CSS</li>
									<li>The SVG does not need to be inline to use filter effects, providing the path to the file in the CSS will work.</li>
									<li>In example I am am about to show you I am using a filter from an inline SVG.</li>
							</ul>
						</aside>
					</section>
				</section>
				<section data-background-image="lib/img/circle-bg-01.svg">
					<h2 class="squiggle-h2">SVG Text and Raster Images</h2>
					<aside class="notes">
						So far, we have been doing simple conditionals and passing color values to our inline SVG. But SVG can also contain text and raster images, and those just happen to be pretty common types of data fields in drupal. We're going to piece together an eye-catching heading by combining filters, images, and text in an SVG. 
					</aside>
				</section>
				<section>
					<h4>Text in SVG</h4>
					<pre>
						<code datatrim>
&lt;text x=&quot;50%&quot; y=&quot;50%&quot; font-size=&quot;300px&quot; text-anchor=&quot;middle&quot;&gt;
Here&rsquor;s some vertically-centered text!&lt;/text&gt;
						</code>
					</pre>
					<aside class="notes">
						<ul>
							<li>Text in SVG is really very cool to use for heavily designed text like page-headings. Text in SVG has attributes that text in html does not. 
							</li>
						</ul>
					</aside>
				</section>
				<section>
					<h2>Animated text fill by Cesar C</h2>
					<img src="lib/img/interstellar.gif" alt="">
					<aside class="notes">
						<ul>
								<li>Unlike text baked into raster images, SVG text is selectable and can be read by screenreaders.</li>
						</ul>
					</aside>
				</section>
				<section>
						<h2>SVG Text Mask w/ Video Fill by Dudley Storey</h2>
						<img src="lib/img/ocean.gif" alt="">
						<aside class="notes">
							<li>You would only want to use text in SVG for short passages like names and other labels that will fit within one line</li>
							<li>because although text in SVG scales beautifully, it cannot do line-wrapping!</li>
							<li>When you include your SVG inline in a template, your SVG can use the same fonts as the rest of your webpage.</li>
						</aside>
					</section>
				<section>
					<h4>Raster Images in SVG</h4>
					<pre>
						<code datatrim>
&lt;image xlink:href=&quot;logo.png&quot; height=&quot;200&quot; width=&quot;200&quot; 
x=&quot;0&quot; y=&quot;0&quot; /&gt; 	
						</code>
					</pre>
					<aside class="notes">
						<ul>
							<li>You can also include raster images in your SVG using SVG’s IMAGE tag.</li>
							<li>images will remain raster, but they scale with your SVG and are handy to be manipulated with some cool SVG filters, clip-masks and effects.</li>
							<li>This is the syntax you would use to include an image in your SVG--notice that the image tag is actually spelled-out “IMAGE” rather than IMG.</li>
						</ul>
					</aside>
				</section>
				<section data-background-image="lib/img/circle-bg-01.svg">
					<h2 class="squiggle-h2">Bringing it all together</h2>
						<p class="small"><em>more is more and less is a bore</em></p>
					<aside class="notes">
							Now I’m going to jump back to the cat rescue site to show you text and raster images working together to make an eye-catching (or eye-MELTING) heading.
					</aside>	
				</section>
				<!-- <section class="small">
						<h1>Going Further:</h1>
						<ul>
							<li><strong>Replace icon fonts with inline SVG:</strong> It'll be more performant and more flexible. 'nuff said.</li>
							<li><strong>Animating SVG with JavaScript:</strong>
								<a href="https://greensock.com/gsap" class="block">GreenSock Animation Platform (GSAP):</a><p>Super-performant HTML5 animation library that morphs paths, creates timeline animations, and fixes cross-browser animation problems</p>
								<a href="https://d3js.org/" class="block">Data-Driven Documents ('D3' aka d3js)</a><p>For complex data visualization</p>
							</li>
						</ul>
				</section> -->
				<section class="small">
						<h2>Going further</h2>
						<h3>Animating SVG with JavaScript:</h3>
						<ul>
							<li><a href="https://greensock.com/gsap" class="block">GreenSock Animation Platform (GSAP):</a>Super-performant HTML5 animation library that morphs paths, creates timeline animations, and fixes cross-browser animation problems</li>
							<li><a href="https://d3js.org/" class="block">Data-Driven Documents ('D3' aka d3js)</a>For complex data visualization</li>
						</ul>
						<h3>Resources & References from this talk:</h3>
						<ul>
							<li><strong>Examples: </strong>Simple animated SVG progress-bar &amp; Color-changing icons on CodePen:
								<a href="https://codepen.io/audreybrockhaus" class="block">https://codepen.io/audreybrockhaus</a>
							</li>
							<li>Una Kravets on SVG Duotone effect:
								<a href="https://alistapart.com/article/finessing-fecolormatrix" class="block">https://alistapart.com/article/finessing-fecolormatrix</a>
							</li>
						</ul>
						<h3>Handy Modules:</h3>
						<ul>
							<li>Twig Field Value: 
								<a href="https://www.drupal.org/project/twig_field_value" class="block">https://www.drupal.org/project/twig_field_value</a></li>
							<li>Color Field: 
								<a href="https://www.drupal.org/project/color_field" class="block">https://www.drupal.org/project/color_field</a></li>
						</ul>
				</section>
				<section>
						<h1>Thank you</h1>
						<div class="small">
							<p>Design love from:</p>
							<h2>Adrienne Hodges &amp; Abby Blue</h2>
							<p>&nbsp;</p>
							<p>Support &amp; encouragement from:</p>
							<h2>meltmedia</h2>
							<p>&nbsp;</p>
							<p>Icons from:</p>
							<h2>icons8.com</h2>
						</div>
						<aside class="notes">
							<ul>
								<li>During this talk I have only scratched the surface of what you can do with inline SVG.</li>
								<li>None of the code I used was anything more complicated than an if statment in Twig</li>
								<li>I hope you leave here today unafraid to look inside the SVG file and play around.</li>
								<li>you will find SO MANY MORE properties and attributes that are easy to modify to customize your content and </li>
								<li>you may come to consider SVG an amazing extension of your Twig templates. 	</li>
								<li>Thank you!</li>
							</ul>							
						</aside>
				</section>
				<section>
					<h1 class="splash"><div class="before">
						<div class="scroll-left">
						</div>
					</div>
					<span class="white animated block">Join us tomorrow!</span>
					<div class="after">
						<div class="scroll-right">
						</div>
					</div></h1>
					<h1 class="small">Contribution Opportunities</h1>
					<h2>Friday, April 13, 2018</h2>
					<table class="last">
						<tr>
							<td width="33%"><h2>Mentored 
									Contribution									
									</h2></td>
							<td width="34%"><h2>First Time
									Contributor Workshop									
									</h2></td>
							<td width="33%"><h2>General<br/>Contribution
									</h2></td>
						</tr>
						<tr>
							<td>9:00-18:00<br/>
									Room: 602
									</td>
							<td>9:00-12:00<br/>
									Room: 606
									</td>
							<td>9:00-18:00<br/>
									Room: 6A
									</td>
						</tr>
					</table>
				</section>
				<section>
					<h2>What did you think?</h2>
					<h5 class="small">Locate this session at the DrupalCon Seattle website:</h5>
					<p class="small">http://seattle2019.drupal.org/schedule<br/>&nbsp;</p>
					<h5 class="small">Take the Survey</h5>
					<p class="small">https://www.surveymonkey.com/r/DrupalConSeattle</p>
				</section>
			</div>
			<div class="footer">
				<p class="light"><img src="lib/img/twitter.svg" alt="" class="icon"><img src="lib/img/github.svg" alt="" class="icon"><img src="lib/img/codepen.svg" alt="" class="icon">AUDREYBROCKHAUS</p>
			</div>
		</div>

<svg>
		<defs>
			 <filter id="blur">
				<feGaussianBlur in="SourceGraphic" stdDeviation="5,5" />
			</filter>
			<filter id="motionBlur">
				<feGaussianBlur in="SourceGraphic" stdDeviation="10,0" />
			</filter>
			<filter id="grayscale">
				<feColorMatrix type="saturate" values="0.10"/>
			</filter>
			<filter id="sepia" color-interpolation-filters="sRGB">
		<feColorMatrix type="luminanceToAlpha"/>
		<feComponentTransfer >
			<feFuncA type="table" tableValues="0 .2 0.5 1 1 1 0.5 .2 0"/>
		</feComponentTransfer>
	 <feComposite operator="in" in="SourceGraphic"/>
		 <feColorMatrix type="matrix" result="sepia-clip"
		values="0.39 0.769 0.189 0  0 
						0.349 0.686 0.168 0  0  
						0.272 0.534 0.131 0  0 
							0  0 0 1  0" />
	
		<feColorMatrix in="SourceGraphic" type="matrix" result="gscale"
									values="0.2126 0.7152 0.0722 0 0 
													0.2126 0.7152 0.0722 0 0 
													0.2126 0.7152 0.0722 0 0 
													0 0 0 1 0" />
		<feComposite operator="over" in="sepia-clip" in2="gscale"/>
	</filter>
			<filter id="duotone">
						<feColorMatrix type="matrix" result="grayscale"
							values="1 0 0 0 0
											1 0 0 0 0
											1 0 0 0 0
											0 0 0 1 0" />
						
						<feComponentTransfer color-interpolation-filters="sRGB" result="duotone_magenta_gold">
							<feFuncR type="table" tableValues="0.7411764706 0.9882352941"></feFuncR>
							<feFuncG type="table" tableValues="0.0431372549 0.7333333333"></feFuncG>
							<feFuncB type="table" tableValues="0.568627451 0.05098039216"></feFuncB>
							<feFuncA type="table" tableValues="0 1"></feFuncA>
						</feComponentTransfer> 
					</filter>
		</defs>
	</svg>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
		<script>
		function loopClasses() {
  var $img = $('#filter img');
  var classArray = ['grayscale', 'sepia', 'blur', 'motionBlur', 'duotone', 'none'];
  
  setInterval(() => {
    
    var randomNumber = [Math.floor(Math.random()*classArray.length)];
 
    var colorClass = classArray[randomNumber];
    
    $img.removeClass();
    
    $img.addClass(colorClass);

  }, 1500)
};

loopClasses();
</script>
	</body>
</html>
